<strong>Olá, {{student}}</strong>
<p>Sua pergunta foi respondida pela nossa equipe de treinadores</p>
<p>
  <strong>Pergunta: </strong> {{question}}<br/>
  <strong>Resposta: </strong> {{answer}}<br/>
  <br/>
  <small>
    Obrigado pela preferência na Gym point, a melhor academia do país.
  </small>
</p>
